body{
    background-color: #DFDFDF;;
}

h1,h2,h3,h4,h5,a,p{
    margin: 0;
    color: black;
}

a{
    color: #454545;
    text-decoration: none;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.content{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 5;
}

.row .col{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.col .menu{
    width: 100%;
    min-height: 81px;
    margin-bottom: 7%;
    background: #FFFFFF;
    border-radius: 31px;
}

.col:nth-child(3) .menu:nth-child(1){
    display: flex;
    justify-content: center;
}

.col:nth-child(2){
    width: 60%;
}

.menu .menu__navigation{
    margin: 15% 0;
    width: 80%;
    height: 62px;
    border-radius: 0 50px 50px 0;
    
    display: flex;
    align-items: center;
    padding-left: 5%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.menu__navigation a{
    z-index: 2;
}

.menu__navigation::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    left: -100%;
    transition: all 0.3s ease-in-out;
}

.menu__navigation:hover::before{
    left: 0;
}

.active{
    background: #DFDFDF;
}

.block-user-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.block-user-info .side:nth-child(1){
    margin: 4% 0 4% 2%;
}

.block-user-info .side:nth-child(2){
    margin: 4% 2% 4% 0;
}


.block-user-info .avatar{
    margin: 0 2%;
}

.block-user-info .avatar img{
    width: 88px;
    height: 88px;
}

.block-user-info .main-info{
    display: flex;
    flex-direction: column;
}

.block-user-info .main-info h5{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.main-info p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #A8A8A8;
}

.block-user-info .some-info{
    width: 100%;
    display: flex;
    align-items: center;
}

.block-user-info .side{
    display: flex;
    flex:1;
}

.side:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.side h1{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #454545;
}

.menu .block-quality{
    display: flex;
    margin: 50px;
}

.characteristics img{
    max-width: 80%;
}

.character .character__title p{
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
}

.character .character__image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.character__image img{
    max-width: 100%;
}

.block-statistics {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.block-statistics .schedule{
    flex:1;
}

.schedule img{
    max-width: 100%;
}

.block-statistics .study-process{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-statistics .study-process h1{
    font-family: Century Gothic;
    font-size: 31px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

.block-statistics .line{
    width: 70%;
    height: 15px;
    background-color: #454545;
    margin-top: 50px;
    border-radius: 50px;
}

.menu-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-row .menu{
    width: 45%;
}

.services-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.title{
    text-align: center;
    font-family: Century Gothic;
    font-size: 31px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    margin-bottom: 20px;
}

.menu .services{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.services .services__item{
    display: flex;
    justify-content: center;

}

.materials__elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.materials__menu{
    padding: 30px 0;
}

.materials__row{
    display: flex;
    justify-content: center;
    width: 80%;
}

.materials__col{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.materials__col .materials__item{
    display: flex;
    justify-content: center;
}

.materials__col .materials__item img{
    max-width: 80%;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons__item{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.icons__item img{
    max-width: 80%;
}

.calendar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.calendar img{
    max-width: 80%;
}

@media screen and (max-width: 1500px) {
    .side h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .menu__navigation a{
        font-size: 16px;
    }

    .block-user-info .main-info h5{
        font-size: 16px;
    }

    .main-info p{
        font-size: 12px;
    }

    .side h1{
        font-size: 22px;
    }

    .character .character__title p{
        font-size: 18px;
    }

    .block-statistics .study-process h1{
        font-size: 25px;
    }

    .block-statistics .line{
        margin-top: 30px;
        height: 10px;
    }

    .services{
        max-height: 200px;
    }

    .services-menu{
        padding: 0;
    }

    .services__item img{
        max-height: 80%;
    }

    .menu .title{
        font-size: 22px;
        margin: 10px 0;
    }
}